<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list padding>
            <button ion-item
                    icon-left
                    (click)="onLoad(rootPage)"
                    *ngIf="isAuthenticated"

            >
                <ion-icon name="book"></ion-icon>
                Home
            </button>
            <button ion-item
                    icon-left
                    (click)="onLoad(profilePage)"
                    *ngIf="isAuthenticated"

            >
                <ion-icon name="person"></ion-icon>
                Profile
            </button>
            <button ion-item
                    icon-left
                    (click)="onLoad(aboutPage)"

            >
                <ion-icon name="information-circle"></ion-icon>
                About
            </button>
            <button ion-item
                    icon-left
                    (click)="onLoad(loginPage)"
                    *ngIf="!isAuthenticated"
            >
                <ion-icon name="log-in"></ion-icon>
                Log In
            </button>
            <button ion-item
                    icon-left
                    (click)="onLoad(signupPage)"
                    *ngIf="!isAuthenticated"
            >
                <ion-icon name="person"></ion-icon>
                Sign Up
            </button>
            <button ion-item
                    icon-left
                    (click)="onLogout()"
                    *ngIf="isAuthenticated"
            >
                <ion-icon name="log-out"></ion-icon>
                Sign Out
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
